/*Temp Work*/

.ai1ec-calendar-toolbar{
	display: none;
}

.popover.ai1ec-popup .popover-content {
	background: #111;
	color: #f4f4f4;
}

.popover.ai1ec-popup .ai1ec-event-time {
	background: transparent;
}

.popover.ai1ec-popup.left .arrow {
	border-left-color: #777;
}

.popover.ai1ec-popup .popover-inner {
background: #333;
}

.ai1ec-single-event .ai1ec-event-details, .ai1ec-multi-event .ai1ec-event-details {
	margin-bottom: 12px;
	color: #f4f4f4;
}

.ai1ec-event-footer {
	border: none;
}


/* Main Calendar */

.timely a{
	color: #ffcc00;
}

.timely a:hover{
	color: #fefefe;
	text-decoration: none;
}

h2.ai1ec-calendar-title {
	font-family: "alternate-gothic-no-3-d", 'Oswald', sans-serif;
	color: #fefefe !important;
	font-size: 2em !important;
	font-weight: 400;

}

#ai1ec-view-dropdown,
#ai1ec-today{
	display: none;
}

.timely .btn-toolbar {
	margin-top: 8px;
	margin-bottom: 18px;
}

.ai1ec-month-view th, .ai1ec-week-view th, .ai1ec-oneday-view th {
	border: none !important;
	background: #262626 !important;
	color: #616161 !important;
	padding: 0.2em !important;
	text-shadow: 1px 1px 0 black;
}

#ai1ec-calendar-view-container {
	margin-bottom: 0.5em;
}

.ai1ec-month-view a.ai1ec-event-container,
.ai1ec-week-view a.ai1ec-event-container,
.ai1ec-oneday-view a.ai1ec-event-container {
	color: #fefefe !important;
}

	/* Day Formatting */

		table.ai1ec-month-view,
		.ai1ec-week-view table,
		.ai1ec-oneday-view table{
			background: #262626;
			border: 1px solid #222222 !important;
		}

		.ai1ec-month-view td.ai1ec-empty {
		background: #1e1e1e !important;
		}

		.ai1ec-month-view td, 
		.ai1ec-week-view td,
		.ai1ec-oneday-view td {
			border: 1px solid #111111 !important;
		}

		.ai1ec-month-view .ai1ec-date {
			background: #150B00;
			color: #616161;
			text-shadow: 1px 1px 0 #111111;
		}

		.ai1ec-month-view .ai1ec-today, .ai1ec-week-view .ai1ec-today {
			background: #555 !important;
		}

	/* Summary Hover Formatting */
		.ai1ec-popup-summary {
			top: -9999px;
			left: -14px;
			opacity: 0;
			padding: 4px 7px;
			width: 124px;
			margin-right: 7px;
			position: relative;
			font-size: 10px;
			font-weight: normal;
			background: #150B00;
			border: 1px solid #222;
			border-bottom-color: #222;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			}

		.ai1ec-popup-summary::after {
			border-left-color: #555;
			border-width: 7px;
			top: 50%;
			margin-top: -7px;
		}

		.timely p.ai1ec-popup-excerpt {
			font-size: 11px;
			overflow: hidden;
			line-height: 16px;
		}

	/* Buttons */
	.timely .btn {
		font-size: 12px;
	}

	.ai1ec-subscribe-google img {
		background: none !important;
		border: none !important;
		float: left;
		height: 26px !important;
		margin: -5px 0.5em -10px 0 !important;
		padding: 0 !important;
		width: 24px !important;
	}

	.ai1ec-subscribe-google,
	.ai1ec-subscribe{
		float: right;
		margin-left: 5px;
	}

	/* Full Single Event */

	.ai1ec-single-event{
		margin-top: 20px;
	}
	.ai1ec-full-event th {
		font-family: "alternate-gothic-no-3-d", sans-serif !important;
		color: #fefefe !important;
		font-size: 9pt !important;
		font-family: sans-serif !important;
		font-weight: bold;
		background: #363636 !important;
		background-repeat: no-repeat;
		text-align: right;
		text-shadow: 1px 1px 0 #000;
		width: 6em;
		border-right: 1px solid #1C1C1C!important;
	}
	table td {
		background: none repeat scroll 0 0 #262626;
		color: #f4f4f4;
	}

	.timely tr:hover{
		background-color: none !important;
	}
	table td:hover {
		background: #262626 !important;
	}
	.ai1ec-category,
	.ai1ec-tag {
		cursor: pointer;
		font-size: 0.9em;
		border: 1px solid #111;
		text-shadow: 1px 1px 0 #111;
		padding: 2pt 3pt !important;
		margin: 0.2em !important;
		text-decoration: none !important;
		text-transform: capitalize;
		letter-spacing: 1pt;
		white-space: nowrap;
		color: #FEFEFE !important;
		background: #363636;
		border-radius: 0.3em;
		-moz-border-radius: 0.3em;
		-webkit-border-radius: 0.3em;
	}
	.ai1ec-category:hover {
		color: #262626 !important;
		text-shadow: 0px 1px 0 #eee !important;
	}

	.ai1ec-category.ai1ec-selected:hover {
		background-color: none !important;
	}

	i.icon-folder-open, i.icon-repeat{
		display: none;
	}

	/* Widget */
	.ai1ec-agenda-widget-view .ai1ec-date {
		border-top: none !important;
		background: rgba(242, 242, 242, 0.8);
		background: -webkit-gradient(linear, 0 0, 0 100%, from(#363636) to(#262626));
		background: -webkit-linear-gradient(#363636, #262626);
		background: -moz-linear-gradient(top, #363636, #262626);
		background: -ms-linear-gradient(#363636, #262626);
		background: -o-linear-gradient(#363636, #262626);
		background: linear-gradient(#363636, #262626);
		background-repeat: no-repeat;
		margin: 0 0 5px !important;
		padding: 0 !important;
		float: left;
		width: 100%;
	}

	.ai1ec-agenda-widget-view .ai1ec-date.ai1ec-today {
		border-top: none !important;
		background: rgba(242, 242, 242, 0.8);
		background: -webkit-gradient(linear, 0 0, 0 100%, from(#555) to(#262626));
		background: -webkit-linear-gradient(#555, #262626);
		background: -moz-linear-gradient(top, #555, #262626);
		background: -ms-linear-gradient(#555, #262626);
		background: -o-linear-gradient(#555, #262626);
		background: linear-gradient(#555, #262626);
		background-repeat: no-repeat;
	}

	.ai1ec-agenda-widget-view .ai1ec-event a {
		color: #262626;
		display: block;
		background: white;
		border: 1px solid #D4D4D4;
		-webkit-border-radius: 0.4em;
		-moz-border-radius: 0.4em;
		border-radius: 0.4em;
		padding: 0.2em 0.4em !important;
		text-decoration: none !important;
		width: 90%;
		margin: 0 auto;
	}

	.ai1ec-agenda-widget-view .ai1ec-popup-summary {
		display: none;
	}


	.ai1ec-agenda-widget-view .ai1ec-day {
		color: #363636;
	}
	.ai1ec-agenda-widget-view .ai1ec-month {
		background: #262626;
	}

	/* Responsive */
	@media only screen and (max-width: 960px){
			.ai1ec-full-event .ai1ec-subscribe-google {
				margin-top: 6px;
			}
	}

	@media only screen and (max-width: 479px) {
			.ai1ec-agenda-widget-view .ai1ec-subscribe-google img {
				width: 16px !important;
				height: 17px !important;
				margin: -3px 0.5em -5px 0 !important;
			}

			.timely .btn {
				font-size: 11px;
			}

			.ai1ec-full-event th, .ai1ec-full-event td {
				line-height: 14pt !important;
				padding: 0.3em 0.5em 0 0 !important;
				border: none !important;
				vertical-align: top;
			}
	}